<div class="widget-container">

  <div class="widget-header">
    <div class="widget-header-txt">
      <h3>List Name <span class="new-txt">1</span></h3>
      <span class="total-txt">Total 3</span>
    </div>
    <div class="widget-header-actions">
      <span class="plus-icon" (click)="collapse()">+</span>
      <span class="down-icon">V</span>
    </div>
    <div class="clear"></div>
  </div>

  <div *ngIf="hidden" class="list-section">
    <div class="list-item" *ngFor="let d of data">
      <div class="list-item-left">{{ d.icon }}</div>
      <div class="list-item-center">
        <span class="list-item-txt">
            {{ d.text }}
        </span>
        <span class="list-item-date">
          Wed June 13th 2019
        </span>
      </div>
      <div class="list-item-actions" *ngIf="!hidden">actions</div>
      <div class="list-item-actions-open" *ngIf="hidden">
        <div (click)="downloadListItem()">Download</div>
        <div (click)="deleteListItem()">Delete</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="widget-footer">
    <a href="#">Load More</a>
  </div>

</div>